/* line 1, ../../scss/style.scss */
#dashboard-skrollr-x {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  position: fixed;
  z-index: 999999999999999;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  width: 200px;
  font-size: 12px;
}

/* line 14, ../../scss/style.scss */
body {
  background: #E6B098;
}

/* line 18, ../../scss/style.scss */
#skrollr-stylesheets {
  position: relative;
}

/* line 22, ../../scss/style.scss */
#element {
  position: absolute;
  width: 400px;
  height: 400px;
  background: #F2E1AC;
}
