/* line 5, ../../../scss/skrollr-stylesheets/x-large.sass */
#element {
  -skrollr-animation-name: element;
}

@-skrollr-keyframes element {
  /* line 9, ../../../scss/skrollr-stylesheets/x-large.sass */
  0 {
    left: 900px;
    opacity[swing]: 0.8;
    top: 0px;
  }

  /* line 14, ../../../scss/skrollr-stylesheets/x-large.sass */
  2000 {
    left: 100px;
    opacity: 1;
    top: 2000px;
  }
}
